<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <style type="text/css">
      html,body {
        margin: 0;
        padding: 0;
      }

      .fixed-bottom {position: fixed;bottom: 0;width:100%;}
    </style>

    <script src="https://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
        function footerPosition(){
          $("footer").removeClass("fixed-bottom");
          var contentHeight = document.body.scrollHeight,
          winHeight = window.innerHeight;
          if(!(contentHeight > winHeight)){
            $("footer").addClass("fixed-bottom");
          } else {
            $("footer").removeClass("fixed-bottom");
          }
        }
        footerPosition();
        $(window).resize(footerPosition);
      });
    </script>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>

</html>