<!DOCTYPE html>
<html>

  {% include head_qr.html %}

  <body>
    <div style="background-color: #7547C0; width: 100%; height: 166px">
      <img src="../images/id.jpg" style="float: left; width: 100px; height: 130px; margin: 15px; border: 3px solid white">
      <div style="font-size: 16px; color: white; vertical-align:center">
        <div style="padding-top: 34px">
          3117041026&nbsp;付兴博&nbsp;&nbsp;&nbsp;<qr_p style="font-size: 14px; border-top-width: 5px">研究生</qr_p>
        </div>
        <div style="margin-top: 8px">
          电子与信息学部/杨梓班
        </div>
      </div>
      
    </div>



      <script>
        Date.prototype.format = function (fmt) {
            var o = {
                "y+": this.getFullYear, //年
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds() //秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        setInterval("document.getElementById('date').innerHTML = (new Date()).format('MM月dd日  ');", 1000);
        setInterval("document.getElementById('time').innerHTML = (new Date()).format('hh:mm:ss');", 1000);
    </script>

      <div style="font-weight: 500; font-size: normal; font-size: 18px; color: #92969C; line-height: 24px; padding: 12px 0px 0px 25px">
        <div class="jkmgxsj-title">当前时间：</div>
        <div style="margin-top: 12px">
          <table style="color: #2F343B">
            <tr style="font-weight: 700; vertical-align: text-bottom;">
              <td id="date" style="font-family: PingFang SC, Microsoft Yahei; font-size: 28px; column-width: 130px;"></td>
              <td id="time" style="font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif; font-size: 37px"></td>
            </tr>
          </table>
        </div>
      </div>

      
      <div style="line-height: 30px; padding-top: 11px; padding-left: 25px; font-size: 14px;">
        已于&nbsp;2020-05-09 20:39:15&nbsp;完成报到登记
      </div>
      <div style="line-height: 30px; padding-top: 4px; padding-left: 25px; font-size: 14px;">外出时间
        <span style="color: rgb(255, 185, 80);">2020-05-10 08:30</span>
        <span>至</span>
        <span style="color: rgb(255, 185, 80);">2020-08-31 22:00</span>
      </div>
      <img src="../images/11.jpg" width="100%">
  </body>

</html>